<div class="center jumbotron">
  <h1>Welcome to the Polling App</h1>

  <h2>
    This is the home page for the Polling App
   
  </h2>

  <%= link_to "Admin : Sign up now!", signup_path, class: "btn btn-default" %> 
  
  <%= link_to "Click to Participate", participant_path, class: "btn btn-primary" %>
</div>
<%= image_tag("poll.jpg", class: "style_image" )%>